:root{
    --clr1: #6D6E71;
    --clr2: #2BB673;
    --clr3: #006838;
    --clr4: #1E5B85;
    --clr5:#939598;
}

.truck{
    fill: green;
    animation: move 1s linear infinite;
}

@keyframes move {
    0%{
        margin-left: 0;
    }
    50%{
        margin-left: 50%;
    }
}